<%= render 'shared/errors', obj: product %>
<%= form_with(model: product, mulitpart: true) do |form| %>

  <div class="row">
    <div class="col field form-group">
      <%= form.check_box :available, class: "form-check-input" %>
      <%= form.label :available, "Show in store?", class: "form-check-label" %>
    </div>
    <div class="col">
      <%= "Items sold: #{product.sales}" %>
    </div>
  </div>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="row">
    <div class="col field form-group">
      <%= form.label :price %> in cents
      <%= form.number_field :price, class: "form-control" %>
    </div>
    <div class="col-2 field form-group">
      <%= form.label :stock %>
      <%= form.number_field :stock, class: "form-control" %>
    </div>
  </div>

  <div class="field input-group pt-2">
    <label class="input-group-text" for="inputGroupFile01"><%= form.label :picture %></label>
    <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control", id: "inputGroupFile01" %>
  </div>

  <div class="field input-group pt-2">
    <label class="input-group-text" for="inputGroupFile02"><%= form.label :thumbnail %></label>
    <%= form.file_field :thumbnail, accept: 'image/jpeg,image/gif,image/png', class: "form-control", id: "inputGroupFile02" %>
  </div>

  <div class="row">
    <div class="col-4 field form-group">
      <%= form.label :length %> inches
      <%= form.number_field :length, class: "form-control", step: :any %>
    </div>
    <div class="col-4 field form-group">
      <%= form.label :width %> inches
      <%= form.number_field :width, class: "form-control", step: :any %>
    </div>
    <div class="col-4 field form-group">
      <%= form.label :height %> inches
      <%= form.number_field :height, class: "form-control", step: :any %>
    </div>
  </div>
    <div class="col-5 field form-group">
      <%= form.label :weight %> ounces (16 oz = 1 lbs)
      <%= form.number_field :weight, class: "form-control" %>
    </div>

  <div class="actions pt-2">
    <%= form.submit class: "btn btn-sm btn-outline-dark" %>
  </div>
<% end %>
