<%= form_with(model: product, mulitpart: true) do |form| %>

  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div class="field input-group pt-2">
    <label class="input-group-text" for="inputGroupFile01"><%= form.label :picture %></label>
    <%= form.file_field :picture, accept: 'image/jpeg,image/gif,image/png', class: "form-control", id: "inputGroupFile01" %>
  </div>

  <div class="field input-group pt-2">
    <label class="input-group-text" for="inputGroupFile02"><%= form.label :thumbnail %></label>
    <%= form.file_field :thumbnail, accept: 'image/jpeg,image/gif,image/png', class: "form-control", id: "inputGroupFile02" %>
  </div>

  <div class="actions pt-2">
    <%= form.submit class: "btn btn-sm btn-outline-dark" %>
  </div>
<% end %>
