<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag(@product.picture.url, class: "card-img-top") if @product.picture? %>
    </div>
    <div class="col">
      <h3><%= @product.title %></h3>
      <p><%= @product.price %></p>
      <p><%= @product.description %></p>
      <button type="button" class="btn btn-sm btn-outline-dark">Add to cart</button>
      <%= link_to 'Edit', edit_product_path(@product), 
                          class: "btn btn-sm btn-outline-success" if admin_user? %>
      <%= link_to 'Delete', @product, class: "btn btn-sm btn-outline-danger", 
                          method: :delete, data: { confirm: 'Are you sure?' } if admin_user? %> 
      <%= link_to 'Back', products_path, class: "btn btn-sm btn-outline-dark" %>
    </div>
  </div>
</div>
